{% extends "layout.html" %}
{% block content %}

<div class="card">
  <h2>Şifre Değiştir</h2>

  <form method="post">

    <label>Eski Şifre</label>
    <input type="password" name="old" required>

    <br><br>

    <label>Yeni Şifre</label>
    <input type="password" name="new" required>

    <br><br>

    <label>Yeni Şifre (Tekrar)</label>
    <input type="password" name="new2" required>

    <br><br>

    <button class="btn primary">Kaydet</button>

  </form>
</div>

{% endblock %}
